antiorm==1.2.1
asgiref==3.8.1
auth==0.5.3
basicauth==1.0.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
db==0.1.1
Deprecated==1.2.14
Django==5.1
django-request==1.6.3
dnspython==2.6.1
eventlet==0.36.1
falcon==3.1.3
Flask==3.0.3
Flask-BasicAuth==0.2.0
Flask-HTTPAuth==4.8.0
Flask-Limiter==3.8.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==23.0.0
idna==3.8
importlib_resources==6.4.4
itsdangerous==2.2.0
Jinja2==3.1.4
jsonify==0.5
limiter==0.5.0
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mongoengine==0.29.0
ordered-set==4.1.0
packaging==24.1
Pygments==2.18.0
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
rich==13.8.0
setuptools==73.0.1
six==1.16.0
SQLAlchemy==2.0.32
sqlparse==0.5.1
StrEnum==0.4.15
token-bucket==0.3.0
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
